/* color palette from <https://github.com/vuejs/theme> */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  /* z-index: -2000; */
  overflow-x: hidden;
}

html, body {
  height: auto;
  width: 100%;
  overflow-y: auto;
}
